#btnLayout {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.styleBtn {
    font-family: 'Indie Flower', cursive;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #4ECCA3;
    color: #232931;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 0 #232931;
    font-weight: 700;
}

.styleBtn:active {
    background-color: #232931;
    color: #4ECCA3;
}

#clearMobile {
    display: none;
}



@media only screen and (max-width: 1024px) {
    #clearNotMobile {
        display: none;
    }

    .styleBtn {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    #clearMobile {
        display: block;
        margin-top: 50px;
    }
}
