TODO
Clear button not clearing uppon click
Add prompt for users to imput their name
"Best out of..." feature - add alert when either users are close to winning by one point
Firework-like animation when either user win
Rolling dice animation